body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(68, 60, 60);
  margin: 0;
  padding: 0;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  background-color: black;
  border-radius: 2rem;
  width: 20rem;
}

#screen {
  background-color: rgb(199, 186, 186);
  color: black;
  font-size: 2rem;
  padding: 1rem 0;
  min-width: 100%;
  text-align: right;
  margin-bottom: 1rem;
  word-wrap: break-word;
  word-break: break-all;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  min-width: 100%;
}

#clear-btn,
#delete-btn {
  grid-column: span 2;
}

button {
  padding: 20px;
  font-size: 20px;
  border-radius: 1rem;
}
